/* Color Palette 
  #79b7c5 - light blue primary color
  #3b9ab2 - dark blue banner background
  #ebcc2a - light yellow for highlighting
  #ede140 - super bright - only for highlight
  #e0af00 - dark yellow/orange for special text accent
  #f22300 - red stands out for special buttons
*/


/* Dark yellow accent text */
.dy-accent {
  color: #3b9ab2;
}

.main-header .logo {
  font-family: "Space Grotesk Bold", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
}
.main-title {
  font-family: "Space Grotesk Bold", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bolder;
  font-size: 40px;
  padding-bottom: 40px;
  color: #ea2200;
  -webkit-text-stroke: 2px #3e3e3e;
}

.cover-background {
    background-image: url('background-c-min.jpeg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    background-color: #FFFFFF;
}

.neat-text > p {
  text-align: justify;
}



/* Variable Selector */
.stack-box .box {
	margin-bottom: 5px;
	cursor: pointer;
}
.stack-box .box-body {
	padding: 5px;
}
.stack-box p {
	margin: 0 0 5px;
}
.stack-box .box:hover {
  background-color: #e0af00 !important;
}
.stack-box .box:active {
  background-color: #ede140 !important;
}
.stack-box.var-selected .box {
  background-color: #183e47 !important;
}

.stack-box-border {
  border-width: 1px solid transparent;
  border-radius: 4px;
  font-size: 95%;
}

.csc-box .box-body {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

.response-button {
  height: 20px; width: 35px; display: flex;
  align-items: center;
  justify-content: center;
}

.response-button i {
 margin-top: -3px; 
}

.deselect-button {
  padding: 2px 5px !important;
  height: 27px !important;
  color: white !important;
  margin-left: 15px !important;
  background-color: #3b9ab2 !important;
  border-color: white !important;
}
.deselect-button:hover {
  background-color: #183e47 !important;
  color: white !important;
}

.hide-this {
  display: none !important;
}

.no-bullet > * {
  list-style-type: none;
}
.no-bullet h3 {
  font-size: 16px !important;
  color: black !important;
}

.cta {
  text-align: center;
}
.fs30px {
  font-size: 30px;
}

.section-heading {
  color: #444;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.info-box-text {
  color: #6a6a6a;
  text-align: center;
  font-size: 90%;
}

.ce-header-font {
  font-family: "Space Grotesk Bold", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
}

    
#shiny-tab-tab_matrix_model label {
  font-weight: 400 !important;
}

.lam_v td {
    text-align: center;
    padding-right: 3px;
}

.lam_bb button {
  text-align: center;
  margin-bottom: 3px;
  margin-top: 3px;
  width: 100%;
}


#load_joe_model {
             position: fixed;
             top: 0px;
             left: 0px;
             height: 100%;
             width: 100%;
             padding: 5px 0px 5px 0px;
             text-align: center;
             font-weight: bold;
             font-size: 100%;
             color: #000000;
             background-color: #CCFF66;
             z-index: 105;
}


/* Helper text */
.pm-ht {
  font-size: 13px;
  font-style: italic;
  color: #929292;
}

/* Bad inputs */
.pm-bad-inputs {
  color: #ca2f2f;
  font-style: italic;
  background-color: #feff45;
  font-size: 25px;
}

/* Cell value */
.pm-cell-values {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #3c8dbc;
    padding-left: 15px;
}

/* No text overflow and other issues */
.clean-button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

